# --- Visual Studio / .NET ---
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates
*.FileListAbsolute.txt
*.cache
*.dbmdl

# NuGet
packages/
.nuget/
*.nupkg
project.lock.json
project.assets.json

# Build / Publish
[Bb]uild/
*.Publish.xml
*.pubxml
*.pubxml.user

# WPF generated
*.g.cs
*.g.i.cs
Generated_Code/

# Rider / ReSharper (por si acaso)
.idea/
*.DotSettings.user

# OS junk
[Dd]esktop.ini
Thumbs.db
ehthumbs.db
.DS_Store

# Opcional: capturas locales (descomenta si NO quieres subirlas)
# Capturas/
# *.png
